.skeleton {
    background: #e1e9ee;
    background-image: linear-gradient(90deg,
            #e1e9ee 0px,
            #f2f8fc 40px,
            #e1e9ee 80px);
    background-size: 200px 100%;
    animation: skeleton-shine 1.5s infinite linear;
    border-radius: 4px;
}

@keyframes skeleton-shine {
    0% {
        background-position: -100px;
    }

    100% {
        background-position: 100px;
    }
}